<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.myrent">

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
        <activity android:name=".history"></activity>
        <activity android:name=".tersewa_nmax" />
        <activity android:name=".tersewa_vario" />
        <activity android:name=".tersewa_brio" />
        <activity android:name=".tersewa_ayla" />
        <activity android:name=".tersewa_agya" />
        <activity android:name=".tersewa_calya" />
        <activity android:name=".tersewa_sigra" />
        <activity android:name=".tersewa_luxio" />
        <activity android:name=".tr_vario" />
        <activity android:name=".tr_nmax" />
        <activity android:name=".tr_brio" />
        <activity android:name=".tr_ayla" />
        <activity android:name=".tr_agya" />
        <activity android:name=".tr_sigra" />
        <activity android:name=".tr_calya" />
        <activity android:name=".tr_luxio" />
        <activity android:name=".terpilih_bf_calya" />
        <activity android:name=".terpilih_bf_sigra" />
        <activity android:name=".terpilih_bf_luxio" />
        <activity android:name=".terpilih_m_nmax" />
        <activity android:name=".terpilih_m_vario" />
        <activity android:name=".terpilih_sf_brio" />
        <activity android:name=".terpilih_sf_ayla" />
        <activity android:name=".terpilih_sf_agya" />
        <activity android:name=".matic" />
        <activity android:name=".sweetfam" />
        <activity android:name=".bigfam" />
        <activity android:name=".regusername" />
        <activity android:name=".register" />
        <activity android:name=".login" />
        <activity android:name=".loadingboot">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>